In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('tweets.csv', index_col=0)

In [4]:
df

       label  ...                                   tweet_lemmatized
id            ...
1        0.0  ...  ['father', 'dysfunctional', 'selfish', 'drag',...
2        0.0  ...  ['thank', 'lyft', 'credit', 'use', 'offer', 'w...
3        0.0  ...                              ['bihday', 'majesty']
4        0.0  ...                  ['model', 'love', 'take', 'time']
5        0.0  ...            ['factsguide', 'society', 'motivation']
...      ...  ...                                                ...
49155    NaN  ...  ['think', 'factory', 'leave', 'right', 'polari...
49156    NaN  ...  ['feel', 'like', 'mermaid', 'hairflip', 'never...
49157    NaN  ...  ['hillary', 'campaign', 'today', 'ohio', 'omg'...
49158    NaN  ...  ['happy', 'work', 'conference', 'right', 'mind...
49159    NaN  ...  ['song', 'glad', 'free', 'download', 'shoegaze...

[49159 rows x 7 columns]

In [ ]:
#!pip install -U spacy
#!python -m spacy info

In [5]:
import spacy

In [7]:
!python -m spacy download en_core_web_md

Collecting en_core_web_md==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz (96.4MB)
     |████████████████████████████████| 96.4MB 1.2MB/s
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.6/dist-packages (from en_core_web_md==2.2.5) (2.2.4)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (4.41.1)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (7.4.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.4.1)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.8.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.0.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.23.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (50.3.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.18.5)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.1.3)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (2.0.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2020.6.20)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (3.2.0)
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py) ... done
  Created wheel for en-core-web-md: filename=en_core_web_md-2.2.5-cp36-none-any.whl size=98051305 sha256=393ce6abdd95733efc5ffa233d1b3838494e0e665c339cd90b32770706f39013
  Stored in directory: /tmp/pip-ephem-wheel-cache-5ougpbvz/wheels/df/94/ad/f5cf59224cea6b5686ac4fd1ad19c8a07bc026e13c36502d81
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.2.5
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [8]:

from spacy import displacy
import en_core_web_md

In [ ]:
nlp = en_core_web_md.load()

In [ ]:
result=pd.DataFrame(columns=['NER', 'Name', 'Count'])
i=0
for i,values in df['clear_tweet'].iteritems():
  doc=nlp(str(values))
  for ent in doc.ents:
    result.loc[i,'NER']=ent.label_
    result.loc[i,'Name']=ent.text
    result.loc[i,'Count']=1
    i+=1

In [ ]:
result

          NER                         Name Count
2         ORG                  lyft credit     1
3         ORG                       bihday     1
5         ORG           factsguide society     1
7        DATE                     tomorrow     1
8        DATE         the next school year     1
...       ...                          ...   ...
49156  PERSON  mermaid hairflip neverready     1
49157  PERSON                      hillary     1
49158    DATE                        today     1
49159  PERSON             newmusic newsong     1
49160  PERSON                      clinton     1

[38375 rows x 3 columns]

In [ ]:
top=result.loc[:,['NER','Count']].groupby('NER').sum()

In [ ]:
top.sort_values(by='Count', ascending =False)

             Count
NER
PERSON       13616
DATE          8224
ORG           7193
GPE           4046
TIME          1725
NORP          1388
CARDINAL       909
ORDINAL        425
FAC            251
LOC            191
PRODUCT        125
WORK_OF_ART    125
EVENT           83
LANGUAGE        24
QUANTITY        20
LAW             16
MONEY           10
PERCENT          4

In [ ]:
person_spicy=result[result['NER']=='PERSON'].groupby('Name').sum().sort_values(by='Count', ascending =False)

In [ ]:
person_spicy['Count'].head(20)

Name
bihday                                                     140
bing bong bing bong                                        107
lighttherapy                                                97
obama                                                       83
yoyou                                                       64
hu                                                          50
hillary                                                     43
feminismiscancer feminismisterrorism feminismmuktbharat     40
essentialoils                                               39
staed                                                       36
fathersday                                                  34
sea shepherd suppoers                                       28
brexit blm                                                  27
christina grimmie                                           26
shi                                                         26
lebron                                                      24
jesus                                                       24
donald trump                                                23
detoxdiet altwaystoheal                                     21
jo cox                                                      19
Name: Count, dtype: int64

Спайси отработал скорее плохо, чем хорошо. Из топ 20 персон действительно людьми оказались лишь 6.

In [ ]:
person_org=result[result['NER']=='ORG'].groupby('Name').sum().sort_values(by='Count', ascending =False)

In [ ]:
person_org['Count'].head(20)

Name
fathersday                 251
bihday                     128
allahsoil                  104
sjw                        101
gop                         48
instagram                   40
nba                         39
google                      30
stas                        27
cavs                        27
tgif ff                     26
brexit                      25
udtapunjab                  25
gif                         25
update social analytics     24
disney                      23
islam                       22
unfounately                 22
impoant                     21
eur usd                     19
Name: Count, dtype: int64

Тоже касается и организаций. Из ТОП-20 лишь 5-6 являются организациями, много мусора.

In [9]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

In [12]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [18]:
nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [72]:
i=0
for sent in nltk.sent_tokenize(sentence):
  ne_tree = nltk.ne_chunk(pos_tag(word_tokenize(sent)))
  named_entities = []
  for tagged_tree in ne_tree:
    print(tagged_tree)
    if hasattr(tagged_tree, 'label'):
      entity_name = ' '.join(c[0] for c in tagged_tree.leaves()) #
      entity_type = tagged_tree.label() # get NE category
      nltk_df.loc[i,'NER']=entity_type
      nltk_df.loc[i,'Name']=entity_name
      named_entities.append((entity_name, entity_type))
      i+=1
  print(named_entities)
  #print(cs)
  #print(sent)

('thought', 'JJ')
('factory', 'NN')
('left', 'VBD')
('right', 'JJ')
('polarisation', 'NN')
('trump', 'NN')
(PERSON Donald/NNP)
('google', 'NN')
(PERSON Google/NNP)
('.', '.')
[('Donald', 'PERSON'), ('Google', 'PERSON')]
('i', 'NN')
('want', 'VBP')
('bmw', 'NN')
[]

In [ ]:
nltk_df=pd.DataFrame(columns=['NER', 'Name', 'Count'])

In [101]:
i=0
for j, sentence in df['tweet'].iteritems():
  for sent in nltk.sent_tokenize(str(sentence)):
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sent))):
        if hasattr(chunk, 'label'):
          #print(chunk.label(), ' '.join(c[0] for c in chunk))
          nltk_df.loc[i,'NER']=chunk.label()
          nltk_df.loc[i,'Name']=' '.join(c[0] for c in chunk)
          nltk_df.loc[i,'Count']=1
          i+=1

In [102]:
nltk_df

              NER                                               Name Count
0             GPE                                        en-ger-land     1
1             GPE                                        en-ger-land     1
2             GPE  brisk_and_vagabond-eyeopener_2007__enviromenta...     1
3             GPE                                               u.s.     1
4    ORGANIZATION                                               nycÂ     1
..            ...                                                ...   ...
111  ORGANIZATION                                          vysoÄina     1
112  ORGANIZATION                                          euro2016Â     1
113           GPE      brisk_and_ham-taste_the_rainbow__rock_da_pay-     1
114  ORGANIZATION                                          braggingÂ     1
115  ORGANIZATION                                            veryÂ Â     1

[116 rows x 3 columns]

NLTK очень плохо отработал. Почти все NER оказались мусором. На очищенных твитах он вообще ничего не искал, только на не предобработанных (заглавные буквы для него важны). Пробовал делать тест, писал в предложении Google и google, и google он не определял, как сущность. Сомнительное выделение NER.