In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [3]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head(20)

    id  label                                              tweet
0    1    0.0   @user when a father is dysfunctional and is s...
1    2    0.0  @user @user thanks for #lyft credit i can't us...
2    3    0.0                                bihday your majesty
3    4    0.0  #model   i love u take with u all the time in ...
4    5    0.0             factsguide: society now    #motivation
5    6    0.0  [2/2] huge fan fare and big talking before the...
6    7    0.0   @user camping tomorrow @user @user @user @use...
7    8    0.0  the next school year is the year for exams.ð...
8    9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9   10    0.0   @user @user welcome here !  i'm   it's so #gr...
10  11    0.0   â #ireland consumer price index (mom) climb...
11  12    0.0  we are so selfish. #orlando #standwithorlando ...
12  13    0.0  i get to see my daddy today!!   #80days #getti...
13  14    1.0  @user #cnn calls #michigan middle school 'buil...
14  15    1.0  no comment!  in #australia   #opkillingbay #se...
15  16    0.0  ouch...junior is angryð#got7 #junior #yugyo...
16  17    0.0  i am thankful for having a paner. #thankful #p...
17  18    1.0                             retweet if you agree!
18  19    0.0  its #friday! ð smiles all around via ig use...
19  20    0.0  as we all know, essential oils are not made of...

In [6]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
id       49159 non-null int64
label    31962 non-null float64
tweet    49159 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 960.2+ KB
None

1. Заменим html-сущности (к примеру: &lt; &gt; &amp;). "&lt;" заменим на “<” и "&amp;" заменим на “&”)""". Сделаем это с помощью HTMLParser.unescape()

In [7]:
combine_df['clear_tweet']=combine_df['tweet']

In [8]:
import html.parser   
def findHTML(tweets):
    clean_tweets=[]
    for tweet in tweets:
        tweet=html.unescape(str(tweet))
        clean_tweets.append(tweet)
    return clean_tweets

In [9]:
combine_df['clear_tweet']=findHTML(np.array(combine_df['clear_tweet']))

2. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
при применении функции необходимо использовать np.vectorize(function)

In [10]:
def delete_user(tweets):
    
    clean_tweets=[]
    for tweet in tweets:
        tweet=re.sub('@[\w]*','',tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [11]:
combine_df['clear_tweet']=delete_user(np.array(combine_df['clear_tweet']))

In [12]:
combine_df

,id,label,tweet,clear_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,factsguide: society now #motivation
...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) & u...
49157,49158,NaN,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze ..."

3. Изменим регистр твитов на нижний с помощью .lower()

In [13]:
def lower_tweet(tweets):
    
    clean_tweets=[]
    for tweet in tweets:
        tweet=tweet.lower()
        clean_tweets.append(tweet)
    return clean_tweets

In [14]:
combine_df['clear_tweet']=lower_tweet(np.array(combine_df['clear_tweet']))

4. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [15]:
def apostrophe_reduction(tweets, apostrophe_dict):
    clean_tweets=[]
    for tweet in tweets:
        for word in set(tweet.split()):
            if word in apostrophe_dict.keys():
                tweet=re.sub(word,apostrophe_dict[word],tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [16]:
combine_df['clear_tweet']=apostrophe_reduction(np.array(combine_df['clear_tweet']),apostrophe_dict)

5. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [17]:

def short_words(tweets, short_word_dict):
    clean_tweets=[]
    for tweet in tweets:
        for word in set(tweet.split()):
            if word in short_word_dict.keys():
                tweet=re.sub(word,short_word_dict[word],tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [18]:
combine_df['clear_tweet']=short_words(np.array(combine_df['clear_tweet']),short_word_dict)

In [19]:
combine_df

,id,label,tweet,clear_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i cannot use cause t...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time...
4,5,0.0,factsguide: society now #motivation,factsguide: society now #motivation
...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) & u...
49157,49158,NaN,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze ..."

6. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [20]:

def emotion_words(tweets, emoticon_dict):
    clean_tweets=[]
    for tweet in tweets:
        for word in set(tweet.split()):
            if word in emoticon_dict.keys():
                tweet=tweet.replace(word,emoticon_dict[word])
        clean_tweets.append(tweet)
    return clean_tweets

In [21]:
combine_df['clear_tweet']=emotion_words(np.array(combine_df['clear_tweet']),emoticon_dict)

In [22]:
combine_df

,id,label,tweet,clear_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i cannot use cause t...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love you take with you all the time...
4,5,0.0,factsguide: society now #motivation,factsguide: society now #motivation
...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) & u...
49157,49158,NaN,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze ..."

7. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [23]:
def punctuation(tweets):
    clean_tweets=[]
    for tweet in tweets:
        tweet=re.sub(r'[^\w\s]',' ',tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [24]:
combine_df['clear_tweet']=punctuation(np.array(combine_df['clear_tweet']))

8. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [25]:
def spec_punctuation(tweets):
    clean_tweets=[]
    for tweet in tweets:
        tweet=re.sub(r'[^a-zA-Z0-9]',' ',tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [26]:
combine_df['clear_tweet']=spec_punctuation(np.array(combine_df['clear_tweet']))

9. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [27]:
def numbers(tweets):
    clean_tweets=[]
    for tweet in tweets:
        tweet=re.sub(r'[^a-zA-Z]',' ',tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [28]:
combine_df['clear_tweet']=numbers(np.array(combine_df['clear_tweet']))

In [29]:
combine_df

,id,label,tweet,clear_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i cannot use cause t...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,model i love you take with you all the time...
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation
...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation tru...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid hairflip neverre...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg u...
49157,49158,NaN,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads...
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze ...

10. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [30]:
def one(tweets):
    clean_tweets=[]
    for tweet in tweets:
        tweet=' '.join([w for w in tweet.split() if len(w)>1])
        clean_tweets.append(tweet)
    return clean_tweets

In [31]:
combine_df['clear_tweet']=one(np.array(combine_df['clear_tweet']))

In [32]:
combine_df

,id,label,tweet,clear_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,model love you take with you all the time in your
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation
...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation trump ...
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like mermaid hairflip neverready forma...
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg used word...
49157,49158,NaN,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads t...
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze newmusi...

11. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [33]:

from nltk import tokenize as tknz

In [34]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AKonshini\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [35]:
def word_tokens(tweets):
    clean_tweets=[]
    for tweet in tweets:
        tweet=tknz.word_tokenize(tweet)
        clean_tweets.append(tweet)
    return clean_tweets

In [36]:
combine_df['tweet_token']=word_tokens(np.array(combine_df['clear_tweet']))

In [37]:
combine_df

,id,label,tweet,clear_tweet,tweet_token
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ..."
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]"
...,...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us..."
49157,49158,NaN,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,..."

12. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [38]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AKonshini\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [39]:
def stor_word_tokens(tweets):
    clean_tweets=[]
    stop_words = set(stopwords.words("english"))
    for tweet in tweets:
        tweet=[word for word  in tweet if not word in stop_words]
        
        clean_tweets.append(tweet)
    return clean_tweets

In [40]:
combine_df['tweet_token_filtered']=stor_word_tokens(np.array(combine_df['tweet_token']))

In [41]:
combine_df

,id,label,tweet,clear_tweet,tweet_token,tweet_token_filtered
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"
...,...,...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us...","[hillary, campaigned, today, ohio, omg, used, ..."
49157,49158,NaN,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi..."

13. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [42]:
from nltk.stem import PorterStemmer,WordNetLemmatizer

In [43]:
def stemmed_word_tokens(tweets):
    clean_tweets=[]
    stemmer=PorterStemmer()
    for tweet in tweets:
        tweet=[stemmer.stem(word) for word  in tweet]
        
        clean_tweets.append(tweet)
    return clean_tweets

In [44]:
combine_df['tweet_stemmed']=stemmed_word_tokens(np.array(combine_df['tweet_token_filtered']))

In [45]:
combine_df

,id,label,tweet,clear_tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0.0,#model i love u take with u all the time in ...,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time]","[model, love, take, time]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"
...,...,...,...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump..."
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo..."
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us...","[hillary, campaigned, today, ohio, omg, used, ...","[hillari, campaign, today, ohio, omg, use, wor..."
49157,49158,NaN,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead...","[happi, work, confer, right, mindset, lead, cu..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi...","[song, glad, free, download, shoegaz, newmus, ..."

14. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [46]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\AKonshini\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [47]:
from nltk.corpus import wordnet

In [48]:
def lemmatized_word_tokens(tweets):
    clean_tweets=[]
    lemmatizer=WordNetLemmatizer()
    for tweet in tweets:
        tweet=[lemmatizer.lemmatize(word, wordnet.VERB) for word  in tweet]
        
        clean_tweets.append(tweet)
    return clean_tweets

In [49]:
combine_df['tweet_lemmatized']=lemmatized_word_tokens(np.array(combine_df['tweet_token_filtered']))

In [50]:
combine_df

,id,label,tweet,clear_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,model love you take with you all the time in your,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time]","[model, love, take, time]","[model, love, take, time]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"
...,...,...,...,...,...,...,...,...
49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","[thought, factori, left, right, polaris, trump...","[think, factory, leave, right, polarisation, t..."
49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","[feel, like, mermaid, hairflip, neverreadi, fo...","[feel, like, mermaid, hairflip, neverready, fo..."
49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohio omg used word...,"[hillary, campaigned, today, in, ohio, omg, us...","[hillary, campaigned, today, ohio, omg, used, ...","[hillari, campaign, today, ohio, omg, use, wor...","[hillary, campaign, today, ohio, omg, use, wor..."
49157,49158,NaN,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead...","[happi, work, confer, right, mindset, lead, cu...","[happy, work, conference, right, mindset, lead..."
49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi...","[song, glad, free, download, shoegaz, newmus, ...","[song, glad, free, download, shoegaze, newmusi..."

1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
●	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
●	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
●	Исключим стоп-слова с помощью stop_words='english'.
●	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [52]:
def transform(list):
    return [','.join(x) for x in list]

In [53]:
c_vectorizer=CountVectorizer(max_features=1000, max_df=0.9, stop_words='english')
cv_ts=c_vectorizer.fit_transform(transform(combine_df['tweet_stemmed']))
feature_names = c_vectorizer.get_feature_names()
df_cv_ts=pd.DataFrame(cv_ts.toarray(), columns = feature_names)

In [54]:
df_cv_ts

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yo,yoga,york,young,youtub,yoyou,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
c_vectorizer_1=CountVectorizer(max_features=1000, max_df=0.9, stop_words='english')
cv_tl=c_vectorizer_1.fit_transform(transform(combine_df['tweet_lemmatized']))
feature_names = c_vectorizer_1.get_feature_names()
df_cv_tl=pd.DataFrame(cv_tl.toarray(), columns = feature_names)

In [54]:
df_cv_tl

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yesterday,yo,yoga,york,young,youtube,yoyou,yr,yrs,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
●	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
●	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
●	Исключим стоп-слова с помощью stop_words='english'.
●	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [54]:
tfid_vectorizer=TfidfVectorizer(max_features=1000, max_df=0.9, stop_words='english')
tv_ts=tfid_vectorizer.fit_transform(transform(combine_df['tweet_stemmed']))
feature_names = tfid_vectorizer.get_feature_names()
df_tv_ts=pd.DataFrame(tv_ts.toarray(), columns = feature_names)

In [57]:
df_tv_ts

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,year,yesterday,yo,yoga,york,young,youtub,yoyou,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
tfid_vectorizer_1=TfidfVectorizer(max_features=1000, max_df=0.9, stop_words='english')
tv_tl=tfid_vectorizer_1.fit_transform(transform(combine_df['tweet_stemmed']))
feature_names = tfid_vectorizer_1.get_feature_names()
df_tv_tl=pd.DataFrame(tv_tl.toarray(), columns = feature_names)

In [60]:
df_tv_tl

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,year,yesterday,yo,yoga,york,young,youtub,yoyou,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Натренируем gensim.models.Word2Vec модель на наших данных.
●	Тренировать будем на токенизированных твитах combine_df['tweet_token']
●	Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
●	Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [68]:
#!python -m pip install -U gensim

In [53]:
from gensim.test.utils import common_texts, get_tmpfile
from gensim.models import Word2Vec

In [54]:
common_texts

[['human', 'interface', 'computer'],
 ['survey', 'user', 'computer', 'system', 'response', 'time'],
 ['eps', 'user', 'interface', 'system'],
 ['system', 'human', 'system', 'eps'],
 ['user', 'response', 'time'],
 ['trees'],
 ['graph', 'trees'],
 ['graph', 'minors', 'trees'],
 ['graph', 'minors', 'survey']]

In [78]:
model = Word2Vec(combine_df['tweet_token'], size=200, window=5, min_count=1, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34)
model.train(combine_df['tweet_token'], total_examples=len(combine_df['tweet_token']), epochs=20)

(9779716, 11728980)

In [79]:
result = model.most_similar(positive='dinner')
result

[('cookout', 0.564275860786438),
 ('tacotuesday', 0.5589213371276855),
 ('bolognese', 0.5550484657287598),
 ('spaghetti', 0.5538142323493958),
 ('thegafford', 0.5421160459518433),
 ('saturdate', 0.5414692163467407),
 ('bihdaydinner', 0.54052734375),
 ('eastvillage', 0.5353958010673523),
 ('fixings', 0.5348232388496399),
 ('nighout', 0.5336989164352417)]

In [80]:
result = model.most_similar(positive='trump')
result

[('donald', 0.6120071411132812),
 ('donaldtrump', 0.58404141664505),
 ('conman', 0.5485681295394897),
 ('carl', 0.5474090576171875),
 ('trumptrain', 0.5473381280899048),
 ('dumptrump', 0.5464363098144531),
 ('suppoer', 0.5425091981887817),
 ('crony', 0.5400735139846802),
 ('chopra', 0.5366895198822021),
 ('unfavorability', 0.5355014801025391)]

In [81]:
vector = model.wv['when'] 
vector

array([ 0.67829543, -0.03694221,  0.40075308, -0.17823602, -0.00598903,
       -0.29507938, -0.15119854,  0.1618732 ,  0.07436924,  0.280707  ,
        0.10015264, -0.03730475, -0.3090114 ,  0.39807466, -0.12523724,
        0.65055317, -0.02594494, -0.60992104, -0.6502828 , -0.8738919 ,
        0.61222774,  0.12920502, -0.37057504,  0.6449006 , -0.05576085,
       -0.4488338 ,  0.47409979, -0.08937211,  1.0699109 ,  0.03194651,
       -0.14387691, -0.45818207, -0.47153288, -0.19933678, -0.40389025,
       -0.27586204,  0.00315385,  0.3833242 , -0.04159053,  0.2565722 ,
        0.3277087 ,  0.16312999, -0.19084433, -0.00127277,  0.26012862,
       -0.07238272, -0.46536958, -0.17530303,  0.05117337, -0.1596858 ,
       -0.03439998, -0.34022784, -0.28993946, -0.04210832, -0.17710039,
        0.08291996, -0.07395516,  0.22006929,  0.24349472,  0.47884297,
        0.11523283,  0.04325754, -0.2824674 ,  0.13134472,  0.26364756,
        0.17773183,  1.066976  ,  0.6837736 ,  0.11797065,  0.22464041,
        0.766967  ,  1.0717509 , -0.27225938,  0.4447903 ,  0.01971915,
       -0.45753273, -0.4901413 ,  0.583562  ,  0.20802963, -0.77753896,
        0.3179466 , -0.04606801,  0.07855843,  0.5760957 ,  0.09452629,
       -0.61812437,  0.74155384, -0.5312402 ,  0.46089646, -0.4367245 ,
       -0.10587557,  0.7486867 ,  0.11110038,  0.5500872 , -0.25281313,
       -0.10244992,  0.20268588,  0.1163199 , -0.28275752, -0.3423943 ,
       -0.34477982, -0.02996499,  0.17369477, -0.03251392, -0.25776008,
        0.2338181 ,  0.31980154, -0.2909497 , -0.17384315,  0.34901044,
       -0.39553192, -0.08129403, -0.8622    , -0.10702021,  0.03102968,
       -0.05200455, -0.38083586,  0.43135887,  0.6165474 , -0.15706602,
        0.29130888,  0.16457735,  0.3031295 , -0.56264853, -0.08886413,
        0.32667327,  0.37894887,  0.20520833, -0.66543883, -0.05261729,
        0.41752326, -0.84157246,  0.33809897, -0.0352384 ,  0.46238652,
        0.36916876,  0.26071125, -0.1148906 ,  0.4569424 , -0.1606892 ,
        0.23627499,  0.22999631,  0.17831995,  0.5932245 , -0.24922931,
       -0.51595336,  0.10211321,  0.33831868, -0.40820244,  0.7685002 ,
       -0.2318405 , -0.09963746,  0.55070037, -0.43471462,  0.18332662,
        0.25570798, -0.17703885, -0.10712994,  0.14295705, -0.4792982 ,
        0.72990817, -0.37536848,  0.10350061, -0.2680761 ,  0.595118  ,
        0.4461947 ,  0.5332153 , -0.5408578 ,  0.6104007 ,  0.1882169 ,
        0.32036626,  0.38582632,  0.01496803, -0.09898907,  0.01824286,
        0.36102563,  0.04629778, -0.12340809,  0.01657489, -0.01017223,
        0.3437926 ,  0.08469786,  0.00430108, -0.11698179,  0.63743484,
        0.18905629, -0.18936408,  0.4338704 , -0.07571819,  0.4550077 ,
       -0.24863495, -0.28391173, -0.07682525, -0.2463692 , -0.5161491 ,
        0.31429103, -1.1185242 ,  0.04360604, -0.47217083, -0.17785129],
      dtype=float32)

Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.
Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [82]:
tweet_vecs=[]
for tweet in np.array(combine_df['tweet_token']):
    vec=np.zeros((1,200))
    for word in tweet:
        #print(word)
        vec+=model[word].reshape((1, 200))
    tweet_vecs.append(vec)

In [103]:
wordvec_df=pd.DataFrame(np.array(tweet_vecs).reshape((49159, 200)))

In [108]:
wordvec_df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,2.072514,-7.240419,3.735607,0.334691,-4.444275,1.411898,-1.333478,-1.337524,3.599625,0.456294,...,-2.360948,-1.018230,1.242321,0.775998,-1.001709,-3.429247,-4.455748,1.226732,2.567751,-5.606457
1,1.523457,-6.353235,-0.143658,-0.067103,-4.599801,-2.371041,-2.398336,-1.485485,1.586563,0.453085,...,-1.099446,-2.395812,-0.162872,0.709369,3.556373,-0.477198,-6.030418,2.846084,1.496731,-3.340926
2,1.364791,-1.596203,0.146800,0.456262,-0.109230,-0.304634,0.915048,0.240053,0.630445,0.571648,...,-1.493414,-0.791048,-1.754309,0.164862,-0.466531,-0.059635,0.515698,1.773079,0.031728,-2.000619
3,4.287064,-2.921054,1.450517,1.195430,-3.395806,-2.039543,1.001645,0.557205,1.491542,0.336931,...,-2.492186,-4.086902,-0.819071,0.880817,0.544602,-1.709614,-1.702999,2.449992,0.242835,-3.746835
4,-0.240080,-1.253964,-0.523712,-0.864548,-0.629244,0.241647,-0.067872,-0.035628,0.678063,-0.583473,...,0.418457,0.155302,1.855362,0.793690,0.423226,-2.257488,-2.338315,0.020753,-0.190886,-1.251982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.103010,-4.527228,2.754126,3.840476,-8.927949,-0.380807,-4.693909,3.049116,-1.745026,-2.460687,...,-3.694114,0.773355,-1.534455,-0.287546,1.451223,-10.624326,-5.508704,-0.943127,2.563089,-3.648403
49155,-0.202279,-3.776050,-0.855924,-0.681884,-2.738986,-1.409778,0.991225,-0.055392,0.548472,3.618258,...,-0.743365,-2.663486,0.139315,2.020547,-1.678673,-0.995539,-1.527042,0.750088,0.437838,-3.391618
49156,-0.301327,-6.954018,-3.106408,-0.905063,-6.266304,-2.407467,-4.098484,-3.738306,0.099525,1.157665,...,-2.937131,-4.732186,-0.101919,-1.793640,-0.351653,-2.785132,-6.415690,2.499205,2.122782,-1.146214
49157,1.326164,-2.061218,-0.446676,0.893642,-6.933105,-3.519839,-2.341351,3.959188,-3.085175,-2.575109,...,-2.226994,0.374804,-2.292496,2.955901,-0.010156,-3.612312,-8.292209,-0.549390,6.311618,-2.672872
49158,1.763187,-2.611146,2.504903,-0.438556,-3.749186,-1.443444,-1.261869,-1.689354,0.557512,-0.355646,...,-1.894407,1.012756,-0.938572,-0.365679,0.195432,-1.612716,-0.488472,0.562769,1.401934,-0.983970